<div class="navbar-fixed-top">
	<div><span class="navbar-title">IBM DevOps Deployment Risk Analytics</span></div>
	<div>
		<div>
			<a class="navbar-brand" href="/#/build">
				<span class="navbar-action">Build</span>
			</a>
		</div>
		<div><span class="navbar-action">Configure</span></div>
		<div><span class="navbar-action">Setup</span></div>
	</div>
</div>
