bower_components/*
node_modules/
npm-debug.log
coverage.json
mochatest.json
mochafvt.json
saucelabfvt.json
tests/coverage/*
tests/client/coverage/
static/bower_components/*
static/built/*
scripts/*.xml
scripts/*.json
tests/client/coverage
